<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/style.css">
    <title>PortalNews</title>
</head>
<body>
    
    <header>
        <div class="center">
            <div class="logo">
                <h2><a href="/"><span>Portal</span>News</a></h2>
            </div>
            <div class="form-search">
                <form action="">
                    <i class="fa fa-searh" aria-hidden="true"></i>
                    <input type="text" name="search" placeholder="Search">
                </form>
            </div>
        </div>
    </header>